@import "./mixins";
@import "extends";
@import "variables";
/*how to use mixins@include tablet {}*/
/*how to use extends@extend .class-name;*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 14pt;
	/*all styling here*/

	.cart-wrapper {
		width: 100vw;
		height: 100vh;
		.cart-header {
			width: 100vw;
			height: 20vh;
			display: flex;
			gap: 40%;
			justify-content: center;
			align-items: center;
			.home-button {
				width: 50px;
				height: 50px;
				background: #ffe040;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.cart-main-title {
				display: flex;
				width: 100px;
				min-width: 50px;
				height: 50px;
				border-radius: 5px;
				font-size: 2rem;
				font-weight: bold;
				position: relative;
				right: 40px;
				padding: 7px;
				#cart-block {
					background-color: #ffe040;
					width: 90px;
					height: 40px;
					border-radius: 5px;
					margin-left: 5px;
				}
			}
		}

		.cart-section {
			background: #ffffff;
			height: 60%;
			width: 100vw;
			display: flex;
			flex-wrap: wrap;
			overflow-y: scroll;

			@include laptop {
				gap: 5%;
			}
			.cart-item {
				background: #ffffff;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
				border-radius: 15px;
				height: 130px;
				width: 300px;
				margin: 10px auto;
				position: relative;

				@include laptop {
					width: 650px;
					height: 230px;
				}
				.cart-picture {
					background-size: cover;
					width: 100px;
					height: 100px;
					position: absolute;
					top: 15px;
					left: 10px;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
					border-radius: 15px;
					@include laptop {
						width: 200px;
						height: 200px;
					}
				}
				.cart-title {
					height: 20px;
					position: absolute;
					top: 30px;
					left: 120px;

					@include laptop {
						top: 50px;
						left: 250px;
						font-size: 2rem;
					}
				}
				.cart-price {
					height: 20px;
					position: absolute;
					top: 80px;
					left: 120px;
					@include laptop {
						top: 150px;
						left: 250px;
						font-size: 1.5rem;
					}
				}
				.cart-remove {
					height: 15px;
					width: 15px;
					position: absolute;
					top: 95px;
					left: 270px;
					background: #ffe040;
					border: none;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
					border-radius: 15px;
					@include laptop {
						top: 180px;
						left: 600px;
						height: 30px;
						width: 30px;
					}
				}
				.cart-minus {
					height: 20px;
					position: absolute;
					top: 8.5px;
					left: 240px;
					border: none;
					background-color: white;
					@include laptop {
						top: 27px;
						left: 550px;
						height: 30px;
						width: 30px;
						font-size: 1.5rem;
					}
				}
				.cart-amount {
					height: 20px;
					position: absolute;
					top: 10px;
					left: 258px;
					@include laptop {
						top: 30px;
						left: 580px;
						height: 30px;
						width: 30px;
						font-size: 1.5rem;
					}
				}
				.cart-plus {
					height: 20px;
					position: absolute;
					top: 10px;
					left: 280px;
					border: none;
					background-color: white;
					@include laptop {
						top: 30px;
						left: 600px;
						font-size: 1.5rem;
					}
				}
			}
		}
		.cart-footer {
			height: 20vh;
			width: 100vw;
			display: grid;
			grid-template-columns: 1fr 0.6fr 1fr;
			grid-template-rows: 40px 30px;
			grid-template-areas: "a . b" "c . d" "c . f";
			padding: 15px;

			.cart-rabattkod {
				grid-area: a;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 0.8rem;
			}
			.cart-total {
				grid-area: b;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.5rem;
			}
			.cart-vat {
				grid-area: d;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				bottom: 12px;
			}
			.cart-donate {
				grid-area: c;
				background: #ffffff;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
				border-radius: 10px;
				display: flex;
				justify-content: center;
				justify-self: center;
				align-items: center;
				width: 120px;
			}
			#cart-makeorder {
				grid-area: f;
				background: #ffe040;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 5px;
				border: none;
				display: flex;
				justify-self: center;
				justify-content: center;
				align-items: center;
				height: 30px;
				width: 100px;
				@include tablet {
					height: 30px;
					width: 150px;
				}
				@include laptop {
					height: 60px;
					width: 200px;
				}
			}
		}
	}
}
