@import "./mixins";
@import "extends";
@import "variables";
/*how to use mixins@include tablet {}*/
/*how to use extends@extend .class-name;*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 14pt;
	font-family: "Crimson Text", serif;
	/*all styling here*/

	#product-image{

		height: 700px;
		width: 100%;

		position: relative;


		.image{      
    
			object-fit: cover;                    
			width: 100%;
			height: 100%;
		}
		
		#product-header{
	
		#product-house-icon {
			
			background-color: #FFE040;
			padding: 15px;

			border-radius: 7px;

			position: absolute;
			top: 40px;
			left: 30px;
		}
		.fa-house-user{
			color: black;
		}
		.fa-shopping-cart{
			color: black;
			position: absolute;

			top: 55px;
			right: 30px;
		}

	}
}	
	
	#product-tags{
		
		display: flex;
		flex-direction: column;
		gap: 30px;

		position: absolute;

		bottom: 200px;
		left: 30px;


		#product-tag-1{
			display: flex;
			flex-direction: column;

			.fa-sun{
				background-color: white;
				width: 60px;

				padding: 15px;

				border-radius: 7px;
			}
		}

		#product-tag-2{

			width: 60px;
			display: flex;
			flex-direction: column;

			align-items: center;

			.fa-cloud-showers-heavy{
				background-color: white;
				width: 60px;

				padding: 15px;

				border-radius: 7px;
			}
		}

		
	}

	#product-title-wrapper{

		padding: 30px 40px;
		margin-top: 30px;

		#product-title-div{
			display: flex;
			flex-direction: column;

			gap: 30px;

			background-color: rgb(255, 241, 230);
			border-radius: 15px;

			padding: 30px;

			
		}
	}

	#product-price-wrapper{

		margin-top: 30px;
		margin-bottom: 30px;
		display: grid;

		grid-template-columns: 1fr 1fr;
		grid-template-rows:50px 50px 50px ;
	#product-price{

		grid-column-start: 2;
		grid-column-end: 3;

		grid-row-start: 1;
		grid-row-end: 2;

		display: flex;
		justify-content: center;

		.fa-minus-circle{
			padding: 5px;
			
		}
		.fa-plus-circle{
			padding: 5px;
		}

		
	}
	#product-cost{
		grid-column-start: 2;
		grid-column-end: 3;

		grid-row-start: 2;
		grid-row-end: 3;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	#product-button{		
		grid-column-start: 2;
		grid-column-end:3;

		grid-row-start: 3;
		grid-row-end: 4;

		display: flex;
		justify-content: center;
		
		padding-top: 10px;
		

		button{
			background-color: yellow;
			color: black;

			padding: 10px 15px;

			border-radius: 5px;
		}
	}

	#product-rating{

		grid-row-start: 2;
		grid-row-end: 3;

		margin-left: 50px;

		.fa-star{
			color:#FFE040;
			padding: 5px;
		}
	}

}
}
