@import "./mixins";
@import "extends";
@import "variables";
/*how to use mixins@include tablet {}*/
/*how to use extends@extend .class-name;*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 14pt;
	/*all styling here*/

	#product-image{

		height: 600px;
		width: 100%;

		background-image: url(../../assets/pexels-juan-pablo-serrano-arenas-1084188.jpg);
		background-position: center;
		background-size: cover;

		padding-top: 30px;

		display: flex;
		flex-direction: column;
		gap: 200px;

		#product-header{
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding-left: 20px;
			padding-right: 20px;

		#product-house-icon {
			
			background-color: #FFE040;
			padding: 15px;

			border-radius: 7px;
		}
		.fa-house-user{
			color: black;
		}
		.fa-shopping-cart{
			color: black;
			margin-left: auto;
		}

	}
}	
	
	#product-tags{
		
		display: flex;
		flex-direction: column;
		padding-left: 20px;

		gap: 30px;


		#product-tag-1{
			display: flex;
			flex-direction: column;

			.fa-sun{
				background-color: rgb(238, 238, 238);
				width: 60px;

				padding: 15px;

				border-radius: 7px;
			}
		}

		#product-tag-2{

			width: 60px;
			display: flex;
			flex-direction: column;

			align-items: center;

			.fa-cloud-showers-heavy{
				background-color: rgb(238, 238, 238);
				width: 60px;

				padding: 15px;

				border-radius: 7px;
			}
		}

		
	}
}
