@import "./components/mixins";
@import "./components/extends";
@import "./components/variables";
/*how to use mixins@include tablet {}*/
/*how to use extends@extend .class-name;*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 14pt;
	/*all styling here*/

	.start-wrapper {
		background-image: url("../assets/alex-furgiuele-UkH7L-aag8A-unsplash.jpg");
		width: 100vw;
		height: 100vh;
		background-position: center;
		background-size: cover;
		.start-header {
			padding-top: 20px;
			h1 {
				display: inline;
				font-size: 2.1rem;
			}
			#start-yellow {
				background-color: rgba(255, 224, 64, 1);
				width: 120px;
				height: 40px;
				display: inline;
				border-radius: 5px;
			}
			.start-block {
				width: 180px;
				height: 5px;
				background-color: $black;
			}
		}
		.start-section {
			position: relative;
			top: 70vh;
			width: 100%;
			height: 100px;
			display: flex;
			flex-direction: row-reverse;
			.start-item {
				width: 180px;
				height: 100px;
				padding-top: 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background: linear-gradient(
					274.49deg,
					rgba(255, 255, 255, 0.5) -110.02%,
					rgba(255, 255, 255, 0) 218.91%
				);
				filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
				border-radius: 15px 0px 0px 0px;
				#start-link {
					width: 60%;
					height: 60%;
					border: none;
					background-color: rgba(255, 224, 64, 1);
					align-self: center;
					border-radius: 5px;
					font-weight: bold;
				}
				.start-block {
					width: 180px;
					height: 5px;
					background-color: $black;
				}
			}
		}
	}
}
